@import "build/reset"
@import "build/mixins"
@import "build/margins"
@import "build/vars"
@import "build/helpers"
@import "build/fonts"

body
  background-color: $gris

// ********************************************
// *************** nav bar ********************
// ********************************************

.main-header
  width: 100%

// **********************
// nav bar main container
.main-nav, .main-post-nav
  z-index: 10
  left: 8%
  width: 92%
  height: 50px
  @include prefix(transition, "background-color 0.4s, border-color 0.2s")

.main-nav
  position: absolute
  top: 350px
  @include prefix(box-shadow, 0px 10px 10px -7px darken($black-pantone, 10%))

.main-post-nav
  background-color: $blanco
  position: fixed
  top: 0

.main-nav.floating
  background-color: transparent

.main-nav.top
  background-color: $green-pantone
  position: fixed
  top: 0

// background top image

.top-image-background
  background-image: url(../images/head.jpg)
  background-size: cover
  height: 400px
  width: 100%
  position: relative
  .cover
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.20)

// **********************


// blog logo in nav bar
.blog-logo
  position: absolute
  @include prefix(transform, translate3d(-50%, -50%, 0))
  top: 50%
  left: 50%
  height: 54%
  img
    margin: auto
    height: 100%
  .regular
    display: block
  .hover
    display: none

.social-media-link
  top: 50%
  right: 2em
  height: 0.7em
  position: absolute
  @include prefix(transform, translate3d(0, -50%, 0))
  .social-link
    float: left
    max-height: 100%
    .icon
      height: 0.9em
      display: inline-block



.top-link
  position: absolute
  @include prefix(transform, translate3d(0, -50%, 0))
  top: 50%
  left: 20%
  height: 54%
  img
    max-height: 100%
  .label
    display: inline-block
    font-size: 1.44em



.main-post-nav .top-nav-image
  .dark
    display: block
  .dark.inline
    display: inline-block
  .light
    display: none
  .golden
    display: none
  .label
    color: $black-pantone

.main-post-nav .top-nav-image:hover
  .dark
    display: none
  .light
    display: none
  .golden.inline
    display: inline-block
  .golden
    display: block
  .label
    color: $gold-foil



//*************************


.floating .top-nav-image
  .dark
    display: none
  .light
    display: block
  .light.inline
    display: inline-block
  .golden
    display: none
  .label
    color: $blanco

.floating .top-nav-image:hover
  .dark
    display: none
  .light
    display: none
  .golden
    display: block
  .golden.inline
    display: inline-block
  .label
    color: $gold-foil

.top .top-nav-image
  .dark
    display: none
  .light
    display: block
  .light.inline
    display: inline-block
  .golden
    display: none
  .label
    color: $blanco

.top .top-nav-image:hover
  .dark
    display: block
  .dark.inline
    display: inline-block
  .light
    display: none
  .golden
    display: none
  .label
    color: $black-pantone

// **********************


.center-menu
  position: absolute
  left: 50%
  @include prefix(transform, translate3d(-50%, 0, 0))
  height: 100%

.nav-link-container
  height: 100%

.center-menu ol
  float: left
  display: inline-block

.nav-link
  font-size: 1.44em
  height: 100%
  display: block
  position: relative
  font-family: japo
  padding: 0 1em
  .label-link
    position: relative
    top: 25%
    color: $black-pantone

.nav-link:hover
  background-color: $black-pantone
  .label-link
    color: $gold-foil

// ********************************************
// ********** main container ******************
// ********************************************

.home-template, .post-template, .paged, .tag-template, .author-template
  .site-wrapper
    width: 92%
    margin-left: 8%

.home-template, .paged, .tag-template, .author-template
  .content
    width: 1200px
    max-width: 100%
    margin: 4.5rem auto 0 auto
    @media screen and (max-width: 1200px)
      width: 95%

.post-template .content, .post-template .comments-holder
  width: 750px
  max-width: 100%
  margin: 7.5rem auto 0 auto
  @media screen and (max-width: 1200px)
    width: 90%

.post-template .comments-holder
  width: 750px
  max-width: 100%
  margin: 2em auto 1em auto
  @media screen and (max-width: 1200px)
    width: 90%

// ********************************************
// ************ post list styling *************
// ********************************************

.home-template, .paged, .tag-template, .author-template
  .content .post
    width: 30%
    background-color: $blanco
    border-radius: .2em
    float: left
    @include prefix(box-shadow, "0 0 0 0 " +  darken($gris, 15%))
    @include double-prefix-transition(box-shadow, "0.1s linear")
    p
      font-size: 1.44em
      color: $negro
      overflow: hidden
      text-overflow: ellipsis
    @media screen and (max-width: 1200px)
      width: 47.5%

.home-template, .paged, .tag-template, .author-template
  .content .post .post-title a
    font-family: bg-medium
    color: $negro

.home-template, .paged, .tag-template, .author-template
  .content .post .post-title a:active
  color: $blanco

.home-template, .paged, .tag-template, .author-template
  .content .post-image
    width: 100%
    height: 300px
    background-size: 100%
    background-repeat: no-repeat
    @include prefix(transition, "background-size 0.4s")
    background-position: 50% 0

.home-template, .paged, .tag-template, .author-template
  .content .post:hover
    cursor: pointer
    opacity: 0.8
    @include prefix(box-shadow, "0 0 10px 4px " + darken($gris, 20%))
    .post-image
      background-size: 105%



.home-template, .paged, .tag-template, .author-template
  .content .post-list-body
    padding: 20px

.gutter-sizer
  width: 5%

.home-template, .paged, .tag-template, .author-template
  .content .post-date
    font-family: talldark
    font-size: 1.44em
    display: block
    float: left
    color: $negro
  .content .icon
    height: 1em
    float: left
    margin: 0.5em
    padding: 0 20px 20px
  .content .excerpt
    float: left
    width: 100%



.home-template, .paged, .tag-template, .author-template
  .tag-video .video-container
    width: 100%
    height: 300px
    iframe
      width: 100%
      height: 100%

.post-list-body
  .author-holder
    position: relative
    float: left
    width: 100%
  .author-img
    height: 2.5em
    max-width: 3em
    border-radius: 50%
    display: inline-block
  .author-name
    font-family: japo-subtract
    position: absolute
    margin-left: 0.5em
    top: 50%
    @include prefix(transform, translate3d(0, -50%, 0))
    color: $negro
    display: inline-block
    font-size: 0.833em


// ********************************************
// **************** left nav ******************
// ********************************************

.left-nav
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 20
  height: 100%
  width: 8%
  background-color: $negro
  overflow-y: scroll
  float: left
  .nav-buttons
    height: 100%
  .category-link-list-container
    position: relative
    top: 25%
  .category-link-list .btn
    width: 90%
    padding: 0.25em 0 0.25em 0.5em
    @include prefix(box-sizing, border-box)
    background-color: transparent
    @include prefix(transition, "background-color 0.2s")
    cursor: pointer
  .category-link-list .btn a
    color: $blanco
  .category-link-list .btn:hover
    color: $negro
    background-color: $green-pantone
  .category-link-list .btn:hover a
    color: $black-pantone
  .thumb-category-list
    position: relative
  .thumb-category-list .thumb
    position: absolute
    width: 100%
    @include prefix(box-sizing, border-box)
    padding: 1em 0.5em
    height: 5em
    background-origin: content-box
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    @include prefix(transition, "opacity 0.15s")
    opacity: 0
  .thumb-category-list .thumb.smaller
    background-size: 50% auto
  .logo-btn
    height: 20%
    min-height: 100px
    width: 100%
    @include prefix(box-sizing, border-box)
    .logo-holder
      float: right
      height: 100%
      width: 100%
      cursor: pointer
      background-size: 50px auto
      background-repeat: no-repeat
      background-position: center
      background-image: url(../images/isotipo.png)


// ********************************************
// ************** pagination ******************
// ********************************************

.pagination
  width: 100%
  height: 2em
  .btn
    width: 50%
    float: left
    cursor: pointer
    background-color: $negro
    color: $blanco
    height: 100%
    @include prefix(transition, "background-color .2s linear")
    position: relative
  .btn-null
    width: 50%
    float: left
    height: 100%
    background-color: $blanco
  .btn:hover
    background-color: $black-pantone
    color: $green-pantone
  .page-number
    width: 50%
    float: left
    height: 100%
    position: relative


// ********************************************
// ****************** footer ******************
// ********************************************

.main-footer
  width: 92%
  margin-left: 8%
  border-top: 1px solid $black-pantone
  position: relative
  height: 5em
  .logo
    height: 4em


// ********************************************
// ************** Post view  ******************
// ********************************************


.post-template .main-header .separator
  left: 8%
  width: 92%
  height: 2px
  position: fixed
  top: 50px
  background-color: $green-pantone
  z-index: 10

.post-template .post-navegation
  left: 8%
  width: 92%
  height: 1.2em
  position: fixed
  top: 52px
  @include prefix(box-shadow, 0px 10px 10px -7px darken($black-pantone, 10%))
  z-index: 10
  .btn
    float: left
    cursor: pointer
    background-color: $blanco
    color: $black-pantone
    height: 100%
    width: 50%
    @include prefix(transition, "background-color .2s linear")
    position: relative
  .btn:hover
    background-color: $black-pantone
    color: $blanco
  .btn-null
    width: 50%
    background-color: $blanco
    float: left
    height: 100%

.post-template .post
  background-color: $blanco
  border-radius: 0.25em
  padding: 1em
  overflow: hidden
  text-overflow: ellipsis
  @include prefix(box-sizing, border-box)
  margin-bottom: 2em
  .post-title
    text-align: center
    margin-top: 0.5em
    margin-bottom: 0.7em
  .post-meta
    text-align: center
    margin-bottom: 1.2em
  .post-content p
    font-size: 1.2em
    color: $black-pantone
  .post-content img, .post-content iframe
    max-width: 100%
    position: relative
    left: 50%
    @include prefix(transform, translate3d(-50%, 0, 0))
    z-index: 0
  .post-content iframe
    margin-bottom: 1.3em !important
  .post-content img
    margin-bottom: none !important

.share-buttom
  height: 12em
  width: 12em
  background-image: url(../images/social-buttom.png)
  background-size: contain
  background-repeat: no-repeat
  position: relative
  left: 50%
  @include prefix(transform, translate3d(-50%, 0, 0))
  .like
    height: 12em
    width: 50%
    float: left
  .share
    height: 12em
    width: 50%
    float: left

.post-template
  .author-holder
    text-align: center
  .author-img
    height: 4em
    max-width: 4em
    border-radius: 50%
    display: block
    margin: auto
  .author-name
    font-family: japo-subtract
    color: $negro
    display: block
    font-size: 1.2em

.post-template .author
  .read-more
    text-align: center
  .bio
    text-align: center
    margin: auto
    max-width: 40%

.fb-share-button
  right: 2em
  position: absolute !important
  bottom: 2em

.fb-like
  left: 2em
  position: absolute !important
  bottom: 2em



















