@import "build/reset"
@import "build/mixins"
@import "build/margins"
@import "build/vars"
@import "build/helpers"
@import "build/fonts"

body
  background-color: $gris

// ********************************************
// *************** nav bar ********************
// ********************************************

.main-header
  width: 100%

// **********************
// nav bar main container
.main-nav
  position: fixed
  z-index: 10
  top: 0
  width: 100%
  min-height: 3.44rem
  @include prefix(box-shadow,0 0 10px 1px darken($black-pantone, 10%))
  @include prefix(transition, "background-color 0.4s, border-color 0.2s")
  border-bottom: 6px solid

.main-nav.floating
  background-color: $pink-pantone
  border-color: $gold-foil

.main-nav.top
  border-color: $pink-pantone
  background-color: $blanco

// **********************


// blog logo in nav bar
.blog-logo
  position: absolute
  @include prefix(transform, translate3d(0, -50%, 0))
  left: 1em
  top: 50%
  height: 54%
  img
    height: 100%
  .regular
    display: block
  .hover
    display: none

.floating .blog-logo
  .hover-gold
    display: none
  .regular
    display: block
  .hover
    display: none

.floating .blog-logo:hover
  .hover-gold
    display: none
  .regular
    display: none
  .hover
    display: block

.top .blog-logo
  .hover-gold
    display: none
  .regular
    display: none
  .hover
    display: block

.top .blog-logo:hover
  .hover-gold
    display: block
  .regular
    display: none
  .hover
    display: none

// **********************


.center-menu
  position: absolute
  left: 50%
  @include prefix(transform, translate3d(-50%, 0, 0))
  height: 100%

.nav-link-container
  height: 100%

.center-menu ol
  float: left
  display: inline-block

.nav-link
  font-size: 1.44em
  height: 100%
  display: block
  position: relative
  font-family: japo
  padding: 0 1em
  .label-link
    position: relative
    top: 25%
    color: $black-pantone

.nav-link:hover
  background-color: $black-pantone
  .label-link
    color: $gold-foil

// ********************************************
// ********** main container ******************
// ********************************************

.content
  width: 1200px
  max-width: 100%
  margin: 4.5rem auto 0 auto
  @media screen and (max-width: 1200px)
    width: 95%



// ********************************************
// ************ post list styling *************
// ********************************************

.content .post
  width: 30%
  background-color: $blanco
  border-radius: .2em
  float: left
  @include prefix(box-shadow, "0 0 0 0 " +  darken($gris, 15%))
  @include double-prefix-transition(box-shadow, "0.1s linear")
  @media screen and (max-width: 1200px)
    width: 47.5%

.content .post .post-title a
  font-family: bg-medium
  color: $negro

.content .post .post-title a:active
  color: $blanco

.content .post-image
  width: 100%
  height: 300px
  background-size: 100%
  background-repeat: no-repeat
  @include prefix(transition, "background-size 0.4s")
  background-position: 50% 0

.content .post:hover
  cursor: pointer
  background-color: darken($green-pantone, 12%)
  @include prefix(box-shadow, "0 0 4px 2px " + darken($gris, 20%))
  .post-image
    background-size: 105%
  .post-title a
    color: $blanco
  .read-more, p
    color: $blanco
  .post-date
    color: $blanco


.content .post-list-body
  padding: 20px

.gutter-sizer
  width: 5%

.content .post-date
  padding: 0 0 20px 20px
  font-family: talldark
  font-size: 1.44em
  display: block

.tag-video .video-container
  width: 100%
  height: 300px
  iframe
    width: 100%
    height: 100%

// ********************************************
// **************** left nav ******************
// ********************************************

.left-nav
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 10
  @include prefix(transform, translate3d(-150px, 0, 0))
  @include prefix-transition-transform("0.3s cubic-bezier(.62,.02,.6,.3) 0s")
  .nav-buttons
    height: 100%
    width: 150px
    background-color: $negro
    overflow-y: scroll
    float: left
    .btn
      height: 13.33%
      min-height: 100px
      width: 100%
      padding: 0.5em
      @include prefix(box-sizing, border-box)
      background-color: transparent
      @include prefix(transition, "background-color 0.2s")
    .logo-btn
      height: 20%
      min-height: 100px
      width: 100%
      padding: 0.5em
      @include prefix(box-sizing, border-box)

.left-nav:hover
  @include prefix(transform, translate3d(0, 0, 0))

.left-nav .nav-buttons
  .button-holder
    width: 100%
    height: 80%
    background-size: contain
    background-position: center
    background-repeat: no-repeat
  .tag
    text-align: center
    color: $blanco

.left-nav .nav-buttons
  .logo
    width: 100%
    height: 100%
    background-size: 90%
    background-position: center
    background-repeat: no-repeat

.left-nav .nav-buttons .btn:hover
  background-color: $gold-foil

.left-nav .nav-controller
  float: left
  width: 4em
  height: 5em
  background-color: $negro
  position: relative
  top: 45%
  border-top-right-radius: 0.25em
  border-bottom-right-radius: 0.25em
  background-size: 70%
  background-position: center
  background-repeat: no-repeat




























