html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

a {
  padding: 0;
  margin: 0; }

.margin-left-1 {
  margin-left: 2.074em; }

.margin-left-2 {
  margin-left: 1.728em; }

.margin-left-3 {
  margin-left: 1.44em; }

.margin-left-4 {
  margin-left: 1.3em; }

.margin-left-5 {
  margin-left: 1.2em; }

.margin-left-6 {
  margin-left: 0.833em; }

.margin-bottom-1 {
  margin-bottom: 1.414em; }

.margin-top {
  margin-top: 2.074em; }

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.center-left-move {
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.center-top-move {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.center-axis {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

@font-face {
  font-family: bg-reg;
  src: url(../fonts/BrandonGrotesque-Regular.woff); }
@font-face {
  font-family: bg-reg-italic;
  src: url(../fonts/BrandonGrotesque-RegularItalic.woff); }
@font-face {
  font-family: bg-black;
  src: url(../fonts/BrandonGrotesque-Black.woff); }
@font-face {
  font-family: bg-medium;
  src: url(../fonts/BrandonGrotesque-Medium.woff); }
@font-face {
  font-family: bg-medium-italic;
  src: url(../fonts/BrandonGrotesque-MediumItalic.woff); }
@font-face {
  font-family: japo;
  src: url(../fonts/Jaapokki-Regular.woff); }
@font-face {
  font-family: japo-chance;
  src: url(../fonts/JaapokkienchanceRegular.woff); }
@font-face {
  font-family: japo-subtract;
  src: url(../fonts/Jaapokkisubtract-Regular.woff); }
@font-face {
  font-family: talldark;
  src: url(../fonts/TallDarkAndHandsome-Condensed.woff); }
html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: bg-reg, serif;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.2em; }

small, .font_small {
  font-size: 0.833em; }

body {
  background-color: #EEEEEE; }

.main-header {
  width: 100%; }

.main-nav, .main-post-nav {
  z-index: 10;
  left: 4%;
  width: 96%;
  height: 50px;
  -webkit-transition: background-color 0.4s, border-color 0.2s;
  -moz-transition: background-color 0.4s, border-color 0.2s;
  -ms-transition: background-color 0.4s, border-color 0.2s;
  -o-transition: background-color 0.4s, border-color 0.2s;
  transition: background-color 0.4s, border-color 0.2s; }

.main-nav {
  position: absolute;
  top: 350px;
  -webkit-box-shadow: 0px 10px 10px -7px #464441;
  -moz-box-shadow: 0px 10px 10px -7px #464441;
  -ms-box-shadow: 0px 10px 10px -7px #464441;
  -o-box-shadow: 0px 10px 10px -7px #464441;
  box-shadow: 0px 10px 10px -7px #464441; }

.main-post-nav {
  background-color: #FFF;
  position: fixed;
  top: 0; }

.main-nav.floating {
  background-color: transparent; }

.main-nav.top {
  background-color: #bbe9de;
  position: fixed;
  top: 0; }

.top-image-background {
  background-image: url(../images/head.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative; }
  .top-image-background .cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); }

.blog-logo {
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  height: 54%; }
  .blog-logo img {
    margin: auto;
    height: 100%; }
  .blog-logo .regular {
    display: block; }
  .blog-logo .hover {
    display: none; }

.social-media-link {
  top: 50%;
  right: 2em;
  height: 0.7em;
  position: absolute;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }
  .social-media-link .social-link {
    float: left;
    max-height: 100%; }
    .social-media-link .social-link .icon {
      height: 0.9em;
      display: inline-block; }

.top-link {
  position: absolute;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  top: 50%;
  left: 20%;
  height: 54%; }
  .top-link img {
    max-height: 100%; }
  .top-link .label {
    display: inline-block;
    font-size: 1.44em; }

.main-post-nav .top-nav-image .dark {
  display: block; }
.main-post-nav .top-nav-image .dark.inline {
  display: inline-block; }
.main-post-nav .top-nav-image .light {
  display: none; }
.main-post-nav .top-nav-image .golden {
  display: none; }
.main-post-nav .top-nav-image .label {
  color: #615d59; }

.main-post-nav .top-nav-image:hover .dark {
  display: none; }
.main-post-nav .top-nav-image:hover .light {
  display: none; }
.main-post-nav .top-nav-image:hover .golden {
  display: block; }
.main-post-nav .top-nav-image:hover .golden.inline {
  display: inline-block; }
.main-post-nav .top-nav-image:hover .label {
  color: #FAAB46; }

.floating .top-nav-image .dark {
  display: none; }
.floating .top-nav-image .light {
  display: block; }
.floating .top-nav-image .light.inline {
  display: inline-block; }
.floating .top-nav-image .golden {
  display: none; }
.floating .top-nav-image .label {
  color: #FFF; }

.floating .top-nav-image:hover .dark {
  display: none; }
.floating .top-nav-image:hover .light {
  display: none; }
.floating .top-nav-image:hover .golden {
  display: block; }
.floating .top-nav-image:hover .golden.inline {
  display: inline-block; }
.floating .top-nav-image:hover .label {
  color: #FAAB46; }

.top .top-nav-image .dark {
  display: none; }
.top .top-nav-image .light {
  display: block; }
.top .top-nav-image .light.inline {
  display: inline-block; }
.top .top-nav-image .golden {
  display: none; }
.top .top-nav-image .label {
  color: #FFF; }

.top .top-nav-image:hover .dark {
  display: block; }
.top .top-nav-image:hover .dark.inline {
  display: inline-block; }
.top .top-nav-image:hover .light {
  display: none; }
.top .top-nav-image:hover .golden {
  display: none; }
.top .top-nav-image:hover .label {
  color: #615d59; }

.center-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  height: 100%; }

.nav-link-container {
  height: 100%; }

.center-menu ol {
  float: left;
  display: inline-block; }

.nav-link {
  font-size: 1.44em;
  height: 100%;
  display: block;
  position: relative;
  font-family: japo;
  padding: 0 1em; }
  .nav-link .label-link {
    position: relative;
    top: 25%;
    color: #615d59; }

.nav-link:hover {
  background-color: #615d59; }
  .nav-link:hover .label-link {
    color: #FAAB46; }

.home-template .site-wrapper, .post-template .site-wrapper, .paged .site-wrapper {
  width: 92%;
  margin-left: 8%; }

.home-template .content, .paged .content {
  width: 1200px;
  max-width: 100%;
  margin: 4.5rem auto 0 auto; }
  @media screen and (max-width: 1200px) {
    .home-template .content, .paged .content {
      width: 95%; } }

.post-template .content {
  width: 950px;
  max-width: 100%;
  margin: 7.5rem auto 0 auto; }
  @media screen and (max-width: 1200px) {
    .post-template .content {
      width: 90%; } }

.home-template .content .post, .paged .content .post {
  width: 30%;
  background-color: #FFF;
  border-radius: 0.2em;
  float: left;
  -webkit-box-shadow: 0 0 0 0 #c8c8c8;
  -moz-box-shadow: 0 0 0 0 #c8c8c8;
  -ms-box-shadow: 0 0 0 0 #c8c8c8;
  -o-box-shadow: 0 0 0 0 #c8c8c8;
  box-shadow: 0 0 0 0 #c8c8c8;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  -moz-transition: -moz-box-shadow 0.1s linear;
  -ms-transition: -ms-box-shadow 0.1s linear;
  -o-transition: -o-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear; }
  .home-template .content .post p, .paged .content .post p {
    font-size: 1.44em; }
  @media screen and (max-width: 1200px) {
    .home-template .content .post, .paged .content .post {
      width: 47.5%; } }

.home-template .content .post .post-title a, .paged .content .post .post-title a {
  font-family: bg-medium;
  color: #000; }

.home-template .content .post .post-title a:active, .paged .content .post .post-title a:active {
  color: #FFF; }

.home-template .content .post-image, .paged .content .post-image {
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.4s;
  -moz-transition: background-size 0.4s;
  -ms-transition: background-size 0.4s;
  -o-transition: background-size 0.4s;
  transition: background-size 0.4s;
  background-position: 50% 0; }

.home-template .content .post:hover, .paged .content .post:hover {
  cursor: pointer;
  opacity: 0.4;
  -webkit-box-shadow: 0 0 4px 2px #bbbbbb;
  -moz-box-shadow: 0 0 4px 2px #bbbbbb;
  -ms-box-shadow: 0 0 4px 2px #bbbbbb;
  -o-box-shadow: 0 0 4px 2px #bbbbbb;
  box-shadow: 0 0 4px 2px #bbbbbb; }
  .home-template .content .post:hover .post-image, .paged .content .post:hover .post-image {
    background-size: 105%; }

.home-template .content .post-list-body, .paged .content .post-list-body {
  padding: 20px; }

.gutter-sizer {
  width: 5%; }

.home-template .content .post-date, .paged .content .post-date {
  padding: 0 0 20px 20px;
  font-family: talldark;
  font-size: 1.44em;
  display: block; }

.home-template .tag-video .video-container, .paged .tag-video .video-container {
  width: 100%;
  height: 300px; }
  .home-template .tag-video .video-container iframe, .paged .tag-video .video-container iframe {
    width: 100%;
    height: 100%; }

.left-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  height: 100%;
  width: 8%;
  background-color: #000;
  overflow-y: scroll;
  float: left; }
  .left-nav .nav-buttons {
    height: 100%; }
  .left-nav .category-link-list .btn {
    width: 90%;
    padding: 0.25em 0 0.25em 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer; }
  .left-nav .category-link-list .btn a {
    color: #FFF; }
  .left-nav .category-link-list .btn:hover {
    color: #000;
    background-color: #bbe9de; }
  .left-nav .category-link-list .btn:hover a {
    color: #615d59; }
  .left-nav .thumb-category-list {
    position: relative; }
  .left-nav .thumb-category-list .thumb {
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em 0.5em;
    height: 5em;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -ms-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s;
    opacity: 0; }
  .left-nav .thumb-category-list .thumb.smaller {
    background-size: 50% auto; }
  .left-nav .logo-btn {
    height: 20%;
    min-height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .left-nav .logo-btn .logo-holder {
      float: right;
      height: 100%;
      width: 100%;
      background-size: 50px auto;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/isotipo.png); }

.pagination {
  width: 100%;
  height: 2em; }
  .pagination .btn {
    width: 50%;
    float: left;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    height: 100%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    position: relative; }
  .pagination .btn-null {
    width: 50%;
    float: left;
    height: 100%;
    background-color: #FFF; }
  .pagination .btn:hover {
    background-color: #615d59;
    color: #bbe9de; }
  .pagination .page-number {
    width: 50%;
    float: left;
    height: 100%;
    position: relative; }

.main-footer {
  width: 100%;
  border-top: 1px solid #615d59;
  position: relative;
  height: 5em; }
  .main-footer .logo {
    height: 4em; }

.post-template .main-header .separator {
  left: 4%;
  width: 96%;
  height: 4px;
  position: fixed;
  top: 50px;
  background-color: #ffb7ae; }

.post-template .post-navegation {
  left: 4%;
  width: 96%;
  height: 2em;
  position: fixed;
  top: 54px;
  -webkit-box-shadow: 0px 10px 10px -7px #464441;
  -moz-box-shadow: 0px 10px 10px -7px #464441;
  -ms-box-shadow: 0px 10px 10px -7px #464441;
  -o-box-shadow: 0px 10px 10px -7px #464441;
  box-shadow: 0px 10px 10px -7px #464441; }
  .post-template .post-navegation .btn {
    float: left;
    cursor: pointer;
    background-color: #FFF;
    color: #615d59;
    height: 100%;
    width: 50%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    position: relative; }
  .post-template .post-navegation .btn:hover {
    background-color: #615d59;
    color: #FFF; }
  .post-template .post-navegation .btn-null {
    width: 50%;
    background-color: #FFF;
    float: left;
    height: 100%; }

.post-template .post {
  background-color: #FFF;
  border-radius: 0.25em;
  padding: 0.5em; }

/*# sourceMappingURL=style.css.map */
