html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

a {
  padding: 0;
  margin: 0; }

.margin-left-1 {
  margin-left: 2.074em; }

.margin-left-2 {
  margin-left: 1.728em; }

.margin-left-3 {
  margin-left: 1.44em; }

.margin-left-4 {
  margin-left: 1.3em; }

.margin-left-5 {
  margin-left: 1.2em; }

.margin-left-6 {
  margin-left: 0.833em; }

.margin-bottom-1 {
  margin-bottom: 1.414em; }

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: bg-reg;
  src: url(../fonts/BrandonGrotesque-Regular.woff); }
@font-face {
  font-family: bg-reg-italic;
  src: url(../fonts/BrandonGrotesque-RegularItalic.woff); }
@font-face {
  font-family: bg-black;
  src: url(../fonts/BrandonGrotesque-Black.woff); }
@font-face {
  font-family: bg-medium;
  src: url(../fonts/BrandonGrotesque-Medium.woff); }
@font-face {
  font-family: bg-medium-italic;
  src: url(../fonts/BrandonGrotesque-MediumItalic.woff); }
@font-face {
  font-family: japo;
  src: url(../fonts/Jaapokki-Regular.woff); }
@font-face {
  font-family: japo-chance;
  src: url(../fonts/JaapokkienchanceRegular.woff); }
@font-face {
  font-family: japo-subtract;
  src: url(../fonts/Jaapokkisubtract-Regular.woff); }
@font-face {
  font-family: talldark;
  src: url(../fonts/TallDarkAndHandsome-Condensed.woff); }
html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: bg-reg, serif;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em; }

h4 {
  font-size: 1.2em; }

small, .font_small {
  font-size: 0.833em; }

body {
  background-color: #EEEEEE; }

.main-header {
  width: 100%; }

.main-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  min-height: 3.44rem;
  -webkit-box-shadow: 0 0 10px 1px #464441;
  -moz-box-shadow: 0 0 10px 1px #464441;
  -ms-box-shadow: 0 0 10px 1px #464441;
  -o-box-shadow: 0 0 10px 1px #464441;
  box-shadow: 0 0 10px 1px #464441;
  -webkit-transition: background-color 0.4s, border-color 0.2s;
  -moz-transition: background-color 0.4s, border-color 0.2s;
  -ms-transition: background-color 0.4s, border-color 0.2s;
  -o-transition: background-color 0.4s, border-color 0.2s;
  transition: background-color 0.4s, border-color 0.2s;
  border-bottom: 6px solid; }

.main-nav.floating {
  background-color: #ffb7ae;
  border-color: #FAAB46; }

.main-nav.top {
  border-color: #ffb7ae;
  background-color: #FFF; }

.blog-logo {
  position: absolute;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  left: 1em;
  top: 50%;
  height: 54%; }
  .blog-logo img {
    height: 100%; }
  .blog-logo .regular {
    display: block; }
  .blog-logo .hover {
    display: none; }

.floating .blog-logo .hover-gold {
  display: none; }
.floating .blog-logo .regular {
  display: block; }
.floating .blog-logo .hover {
  display: none; }

.floating .blog-logo:hover .hover-gold {
  display: none; }
.floating .blog-logo:hover .regular {
  display: none; }
.floating .blog-logo:hover .hover {
  display: block; }

.top .blog-logo .hover-gold {
  display: none; }
.top .blog-logo .regular {
  display: none; }
.top .blog-logo .hover {
  display: block; }

.top .blog-logo:hover .hover-gold {
  display: block; }
.top .blog-logo:hover .regular {
  display: none; }
.top .blog-logo:hover .hover {
  display: none; }

.center-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  height: 100%; }

.nav-link-container {
  height: 100%; }

.center-menu ol {
  float: left;
  display: inline-block; }

.nav-link {
  font-size: 1.44em;
  height: 100%;
  display: block;
  position: relative;
  font-family: japo;
  padding: 0 1em; }
  .nav-link .label-link {
    position: relative;
    top: 25%;
    color: #615d59; }

.nav-link:hover {
  background-color: #615d59; }
  .nav-link:hover .label-link {
    color: #FAAB46; }

.content {
  width: 1200px;
  max-width: 100%;
  margin: 4.5rem auto 0 auto; }
  @media screen and (max-width: 1200px) {
    .content {
      width: 95%; } }

.content .post {
  width: 30%;
  background-color: #FFF;
  border-radius: 0.2em;
  float: left;
  -webkit-box-shadow: 0 0 0 0 #c8c8c8;
  -moz-box-shadow: 0 0 0 0 #c8c8c8;
  -ms-box-shadow: 0 0 0 0 #c8c8c8;
  -o-box-shadow: 0 0 0 0 #c8c8c8;
  box-shadow: 0 0 0 0 #c8c8c8;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  -moz-transition: -moz-box-shadow 0.1s linear;
  -ms-transition: -ms-box-shadow 0.1s linear;
  -o-transition: -o-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear; }
  @media screen and (max-width: 1200px) {
    .content .post {
      width: 47.5%; } }

.content .post .post-title a {
  font-family: bg-medium;
  color: #000; }

.content .post .post-title a:active {
  color: #FFF; }

.content .post-image {
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.4s;
  -moz-transition: background-size 0.4s;
  -ms-transition: background-size 0.4s;
  -o-transition: background-size 0.4s;
  transition: background-size 0.4s;
  background-position: 50% 0; }

.content .post:hover {
  cursor: pointer;
  background-color: #8ddac8;
  -webkit-box-shadow: 0 0 4px 2px #bbbbbb;
  -moz-box-shadow: 0 0 4px 2px #bbbbbb;
  -ms-box-shadow: 0 0 4px 2px #bbbbbb;
  -o-box-shadow: 0 0 4px 2px #bbbbbb;
  box-shadow: 0 0 4px 2px #bbbbbb; }
  .content .post:hover .post-image {
    background-size: 105%; }
  .content .post:hover .post-title a {
    color: #FFF; }
  .content .post:hover .read-more, .content .post:hover p {
    color: #FFF; }
  .content .post:hover .post-date {
    color: #FFF; }

.content .post-list-body {
  padding: 20px; }

.gutter-sizer {
  width: 5%; }

.content .post-date {
  padding: 0 0 20px 20px;
  font-family: talldark;
  font-size: 1.44em;
  display: block; }

.tag-video .video-container {
  width: 100%;
  height: 300px; }
  .tag-video .video-container iframe {
    width: 100%;
    height: 100%; }

.left-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translate3d(-150px, 0, 0);
  -moz-transform: translate3d(-150px, 0, 0);
  -ms-transform: translate3d(-150px, 0, 0);
  -o-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(.62,.02,.6,.3) 0s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(.62,.02,.6,.3) 0s;
  -ms-transition: -ms-transform 0.3s cubic-bezier(.62,.02,.6,.3) 0s;
  -o-transition: -o-transform 0.3s cubic-bezier(.62,.02,.6,.3) 0s;
  transition: transform 0.3s cubic-bezier(.62,.02,.6,.3) 0s; }
  .left-nav .nav-buttons {
    height: 100%;
    width: 150px;
    background-color: #000;
    overflow-y: scroll;
    float: left; }
    .left-nav .nav-buttons .btn {
      height: 13.33%;
      min-height: 100px;
      width: 100%;
      padding: 0.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      background-color: transparent;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .left-nav .nav-buttons .logo-btn {
      height: 20%;
      min-height: 100px;
      width: 100%;
      padding: 0.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }

.left-nav:hover {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.left-nav .nav-buttons .button-holder {
  width: 100%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
.left-nav .nav-buttons .tag {
  text-align: center;
  color: #FFF; }

.left-nav .nav-buttons .logo {
  width: 100%;
  height: 100%;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat; }

.left-nav .nav-buttons .btn:hover {
  background-color: #FAAB46; }

.left-nav .nav-controller {
  float: left;
  width: 4em;
  height: 5em;
  background-color: #000;
  position: relative;
  top: 45%;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
